<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Помощь</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{common/navbar :: navbar(Support)}"></div>


    <div class="container">
        <br>
    <h2>Описание сайта</h2>
        <p>Наш сайт - это коллективный блог, в которой представлены статьи по четырем темам: Дизайн, Веб-разработка, Мобильная разработка, Маркетинг.
        Любой посетитель после регистрации может опубликовать собственную статью по одной из перечисленных выше тем.</p>
        <br>
        <h2>Чтение статей</h2>
        <p>На главной странице сайта вы видите список статей, который включает в себя все статьи независимо от темы.
            В верху списка представлены последние опубликованные статьи. В шапке меню имеются кнопки разделов: Дизайн, Веб-разработка, Мобильная разработка, Маркетинг.
        При нажатии на кнопку раздела Вы видите список статей по теме раздела. Здесь также в начале представленные самые свежие статьи.
        Справа в шапке меню присутствует кнопка Поиск. Вы можете ввести в поле запроса слово и нажать Поиск. Произойдет переход на страницу результатов поиска.
        По умолчанию поиск происходит в названии статей. Но на странице результатов поиска Вы можете выбрать опцию поиска: искать запрос в названиях статей или именах авторов.
        Результаты поиска, статьи на Главной странице и страницах разделов можно сортировать по рейтингу статей, рейтингу автора или дате публикации.
        Под каждой статье в списке имеется кнопка Просмотреть. Нажав на данную кнопку, Вы перейдете на страницу статьи, где представлен полный текст статьи, можно поставить статье лайк или оставить комментарий.</p>
        <br>
        <h2>Регистрация и авторизация</h2>
        <p>В правом конце шапки меню Вы можете видеть кнопку в виде человеческого силуэта. При нажатии на нее Вам выпадает раскрывающееся меню из двух пунктов: Зарегистрироваться и Войти.
        Если Вы уже зарегистрированы на сайте, то нажмите на кнопку Войти. Вам откроется форма авторизации, в которой нужно заполнить поля: логин и пароль. После корректного заполнения формы авторизации Вы будете перенаправлены на Главную страницу сайта.
        Если Вы не зарегистрированы на сайте, Вам следует нажать кнопку Зарегистрироваться. В открывшейся форме Вам необходимо заполнить все поля и нажать на кнопку Зарегистрироваться.
        После этого Вам откроется сообщение, что на указанную Вами почту направлен код, который необходимо ввести в поле для подтверждения регистрации.
        После корректроного ввода кода, Вы будете автоматически авторизованы и перенаправлены на Главную страницу сайта.</p>
        <br>
        <h2>Личный кабинет</h2>
        <p>После авторизированного входа на сайт. При нажатии на силуэт человека в правом конце шапки меню Вам откроется раскрывающееся меню из двух пунктов: Профиль и Безопасность.
        При нажатии на кнопку Профиль Вы переходите в Личный кабинет. В Личном кабинете Вы можете заполнить или изменить информацию о себе, посмотреть список своих статей и список полученных уведомлений.
        Также в личном кабинете представлена информация о Вашем рейтинге. Рейтинг пользователя рассчитывается как сумма лайков, полученных статьями и комментариями пользователя.</p>
        <br>
        <h2>Создание и публикация статьи</h2>
        <p>Для авторизированного пользователя в шапке меню доступна кнопка Написать статью. Нажав на эту кнопку, Вы перейдете в форму создания статьи. Здесь доступна опция сохранения статьи в качестве черновика.
        Черновики доступны Вам в списке Ваших статей в Личном кабинете. Также в форме создания статьи имеется кнопка Опубликовать. После нажатия данной кнопки статья попадает в списки на Главной странице и странице соответствующего раздела.
        После публикации статья становится доступна для чтения все посетителя сайта. Статья не будет опубликована при нажатии кнопки Опубликовать, если не заполнено одно из обязательных полей формы создания статьи: название, текст, теги.</p>
        <br>
        <h2>Лайки, комментарии и жалобы</h2>
        <p>На странице статьи имеется возможность оставлять комментарии. Для этого необходимо заполнить текстовую форму и нажать кнопку Добавить Ваш комментарий.
        Оставляя комментарии соблюдайте правила приличия и уважайте других пользователей. Также на странице статьи имеется возможность отправлять жалобы на статьи и комментарии.
        Для этого необходимо под статьей или комментарием необходимо из раскрывающегося списка выбрать причину жалобы (реклама, некорректная информация, нарушение закона) и нажать на кнопку Отправить (синия стрелочка в белом круге).
        После этого все администраторы сайта получат уведомление о жалобе и предпримут соответствующие меры: удаление статьи или комментария, бан автора статьи или комментария и т.п.</p>

    </div>
</div>

</body>
</html>