<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head ::head('Безопасность / Хабр') }">
    <meta charset="UTF-8">
    <title >Безопасность / Хабр</title>
    <link rel="shortcut icon" type="image/png" sizes="16x16"
          href="https://assets.habr.com/habr-web/img/favicons/favicon-16.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32"
          href="https://assets.habr.com/habr-web/img/favicons/favicon-32.png">
    <link rel="apple-touch-icon" type="image/png" sizes="76x76"
          href="https://assets.habr.com/habr-web/img/favicons/apple-touch-icon-76.png">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120"
          href="https://assets.habr.com/habr-web/img/favicons/apple-touch-icon-120.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<nav class="nav" th:fragment="navbar(activeTab)" >
    <a class="nav-link"
       th:href="@{/profile}" th:classappend="${activeTab == 'profile'? 'disabled':'' }" target="__blank">Профиль</a>
    <a class="nav-link" th:href="@{/profile/security}" th:classappend="${activeTab == 'profile-security'? 'disabled':'' }"
       target="__blank">Безопасность</a>
<!--    <a class="nav-link" th:href="@{/profile/notification}" th:classappend="${activeTab == 'profile-notification'? 'disabled':'' }"
       target="__blank">Уведомления</a>-->
</nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>